/* Alternative colors: pink #ec008c; blue: #709dc8; */

/* Main defaults */

body {
	background-color: white;
	color: #030505;
	font: normal 12px Verdana, sans-serif;
}

/* Top layout */

#logindetails {
	padding: 5px 0;
	width: 960px;
	color: #999999;
}

div#searchSite {
	margin-left: 715px;
}

/* Figure border */

figure {
	border: 1px #e8e8e8 solid;
}

/* Menu stuff */

#menucontainer {
	background-color: #709dc8;
}

#submenucontainer {
	background-color: #ec008c;
}

nav#submenucontainer.private {
	background-color: #999999;
}

.activeMenu, .inactiveMenu {
	font-size: 120%;
}

.inactiveMenu a, .inactiveMenu a:link, .inactiveMenu a:visited {
	color: white;
	background-color: #709dc8;
}

.activeMenu a, .activeMenu a:link, .activeMenu a:visited, .inactiveMenu a, .inactiveMenu a:hover {
	color: white;
	background-color: #ec008c;
}

#subMenuitems div.activeMenu a, #subMenuitems div.inactiveMenu a:hover {
	color: white;
	background-color: #c7005f;
	font-size: 80%;
}

#subMenuitems div.inactiveMenu a {
	color: white;
	background-color: #ec008c;
	font-size: 80%;
}

.activeMenu a.private, .activeMenu a.private:link, .activeMenu a.private:visited, .inactiveMenu a.private:hover {
	color: white;
	background-color: #999999;
}

.activeOptionsMenu, .inactiveOptionsMenu  {
	font-size: 100%;
}

.inactiveOptionsMenu a, .inactiveOptionsMenu a:link, .inactiveOptionsMenu a:visited {
	color: gray;
	border: 1px solid gray;
	background-color: white;
}

.activeOptionsMenu a, .activeOptionsMenu a:link, .activeOptionsMenu a:visited, .inactiveOptionsMenu a, .inactiveOptionsMenu a:hover {
	color: white;
	border: 1px solid gray;
	background-color: gray;
}

#subMenuitems div.activeMenu a.private, #subMenuitems div.inactiveMenu a.private:hover {
	background-color: gray;
}

#subMenuitems div.inactiveMenu a.private {
	background-color: #999999;
}

/* General links */

a {
	color: #ec008c;
	text-decoration: none;
}

a.private {
	font-style: italic;
}

a:hover {
	color: black;
}

/* Commonly used classes for layout */

.subtitle {
	color: #909090;
}

/* Defining common elements */

p {
	line-height: 150%;
}

i {
	color: gray;
}

h1 {
	font-weight: normal;
	color: #666666;
	font-size: 220%;
}

h1.banner {
	margin-left: 0;
	font-variant: small-caps;	
}

h2 {
	font-weight: bolder;
	color: #ec008c;
	font-size: 130%;
}

h3 {
	font-weight: bolder;
	color: #ec008c;
	font-size: 110%;
}

#logo {
	margin-right: 25px;
}

/* Main sidebar formatting */

#sidebar {
	border-left: 1px #e8e8e8 solid;
	line-height: 140%;
}

/* Classes used with divs for screen layout */

.form {
	border: 1px solid gray;
	background-color: #fffffa;
}

/* Highlight news and main newsitem module */

.newsDate {
	font-style: italic;
}

.newsTitle {
	font-weight: bold;
}

.newsContent {
	font-size: 90%;
}

.item {
	border-bottom: 1px #e8e8e8 solid;
}

.newsitems p {
	line-height: 150%;
}

/* Used at top of listings */

.headerRecord, .headerRecord a {
	font-weight: bold;
	color: gray;
}

/* Greeting page formatting */

.welcomeText, .welcomeText p {
	font-size: 110%;
	line-height: 150%;
}

/* Paypal payment page */

body#donate div#freestyle div.blockCenter.form.columnsWide2, body#pay div#freestyle div.blockCenter.form.columnsWide2 {
	border-radius: 20px;
}

input.paypalButton {
	width: auto;
}

/* -------- */